html {
    scroll-behavior: smooth;
    margin-left: 80px;
    margin-right: 80px;
    background-attachment: fixed;
    background-color: rgb(29, 16, 41);
    margin-top: 20px;
   
}

#vidsize {
    align-items: center;
    justify-items: center;
}

#load-more-movies-btn {
    background-color:antiquewhite;
    padding: 12px;
    border-radius: 14px;
}

h1 {
    text-align: center;
    color: antiquewhite;
    font-size: 60px;
    margin-bottom: 40px;
}

#movies-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1000px){
    #movies-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 800px){
    #movies-grid{
        grid-template-columns: 1fr;
    }
}

.movie-title {
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(219, 180, 128)


}

#vote {
    color: rgb(181, 174, 223);
    font-size: x-large;
    align-items: center;
    text-align: center;

}

.movie-card {
    align-items: center;
    transition: 0.2s;
}

.movie-card:hover {
    transform: translateY(-10px);
}



#pic {
    border-radius: 15px;
    size: 100px;
    max-height: 100%;
    max-width: auto;
    width: 100%;
    color: antiquewhite;
}
 .btn {
    background-color:antiquewhite;
    padding: 12px;
    border-radius: 14px;
    font-size: large;
}
.btn:hover {
    background-color: aliceblue;
    transition: 0.3s;
}

.bar {
    padding: 13px;
    border-radius: 10px;
    font-size: large;
    width: 40%;
    margin-bottom: 50px;
    background-color: antiquewhite;
    color: rgb(47, 27, 67);
    font-family: Verdana;
} 

#vote-pt2 {
    font-size:larger;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 60px;

}

#overview {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
    text-align: center;
}


  
.flip-card {
    perspective: 1000px;
    height:900px;
    max-height: 100%;
    max-width: auto;
    width: 100%;
    size: 100px;
    position: relative;

  }
  
  
  .flip-card-inner {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    height: 100%;
  }
  

  .box{
    display: none;
  }
  input:checked + label .flip-card .flip-card-inner{
    transform: rotateY(180deg);
  }
  .movie-card, .flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
    size: 100px
  }


  